.choose{
    height: 46px;
    width: 280px;
    margin: 0 auto;
    text-align: center;
    margin-top: 13px;
    overflow: hidden;
    font-weight: 700;
    font-size: 14px;
    line-height: 46px;
    color: #fff;
  }

  .bottom-item-home{
    /* position: fixed; */
    height: 83px;
    width: 100%;
    /* bottom: 0; */
    background-color:#FFFFFF;
    /* box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15) ; */
    padding-top: 6px;
  }

  .show {
    display: block;
  }

  .hidden {
    display: none;
  }